<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Listado de Usuarios{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Roles</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Listado de Roles</h2>
        </div>
        <br>
        <div class="buttons-container">
            <a href="/Roles/agregar" class="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 5v14M5 12h14"></path>
                </svg>
                Nuevo Rol
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>ID Rol</th>
                    <th>Nombre del Rol</th>
                </tr>    
            </thead>
            <tbody>
                {% for roll in lista %}
                <tr>
                    <td>
                        <a href="/Roles/editar/{{ roll[0] }}" class="button small">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M19 12H5"></path>
                                <path d="M12 19l-7-7 7-7" fill="none"></path>
                            </svg>
                           Editar
                       </a>
                       <a href="/Roles/eliminar/{{ roll[0] }}" class="button small">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                               <path d="M6 18L18 6M6 6l12 12"></path>
                           </svg>
                           Eliminar
                       </a>
                    </td>
                    <td>{{ roll[0] }}</td>
                    <td>{{ roll[1] }}</td>
                </tr>
                {% endfor %}          
            </tbody>
        </table>
        <a href="/Usuarios/index" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 12H5"></path>
                <path d="M12 19l-7-7 7-7" fill="none"></path>
            </svg>                    
            Volver
        </a>
    </div>
</body>
</html>
{%endblock%}